<div id="control">
  <div class="ui five item teal menu">
    <a class="active item">A</a>
    <a class="item">B</a>
    <a class="item">C</a>
    <a class="item">D</a>
    <a class="item">E</a>
  </div>
  <div class="ui category search">
    <div class="ui left icon input">
      <i class="search icon" id="airportSearchButton"></i>
      <input class="prompt" type="text" placeholder="Airport Code Or City" id="airportSearch" maxlength="20">
    </div>
  </div>
  <div class="ui unordered steps vertical" id="airportList">
  </div>
</div>
<div id="map">
</div>
