#aircraftPanel {
  width: 600px;
  height: 60%;
  overflow: hidden;
  .aircraft-list {
    width: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    float: left;
  }
  .fleet-info {
    width: 260px;
    float: left;
    height: 100%;
    .info {
      height: 60px;
      margin: 5px 0 0 0;
      .statistic {
        width: 120px;
      }
    }
    .aircraft-list {
      margin-top: -1px;
    }
  }
  .aircraft-info {
    width: 340px;
    height: 100%;
    float: left;
    .empty {
      min-height: 400px;
      line-height: 400px;
      text-align: center;
      font-weight: bold;
    }
    .row-container {
      margin: 6px;
    }
    .config-row {
      position: relative;
      width: 100%;
      height: 30px;
      .checkbox {
        margin-left: 5px;
        float:right;
      }
      input[type="range"] {
        float: right;
      }
      .label {
        width: 90px;
        float: left;
      }
      span {
        float: left;
      }
    }
    #purchaseButton {
      margin: 5px 85px;
    }
  }
}
