#control {
  width: 300px;
  position: absolute;
  height: 100%;
  background: #000000;
  overflow: hidden;
  * {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .menu {
    margin-bottom: 0;
  }
  .input {
    width: 100%;
    input {
      border-width: 1px 0;
    }
  }
  .steps {
    width: 100%;
  }
}
