/* #control {
  width: 300px;
  position: absolute;
  height: 100%;
  background: #000000;
  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul.tabs {
    height: 40px;
    background: #ff0000;
    li {
      width: 50px;
      height: 100%;
      border-right: 1px solid #00ff00;
      float: left;
      &:last-child {
        border-right: none;
      }
      &.selected {
        background: #0000ff;
      }
    }
  }
  ul.content {
    height: auto;
    background: #003366;
    li {
      border-bottom: 1px solid #330000;
      padding: 5px;
      position: relative;
      div.title {
        font-weight: bold;
        text-align: center;
      }
      div.operationDetails {
        height: 0px;
        overflow: hidden;
        &.open {
          height: auto;
        }
      }
      .info {
        height: 18px;
        width: 18px;
        -webkit-border-radius: 9px;
        background: rgba(0,0,0,.6);
        line-height: 18px;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        right: 5px;
        bottom: 5px;
        position: absolute;
        font-family: Times !important;
      }
    }
  }
} */

#control {
  width: 300px;
  position: absolute;
  height: 100%;
  background: #000000;
  * {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .menu {
    margin-bottom: 0;
  }
  .input {
    width: 100%;
    input {
      border-width: 1px 0;
    }
  }
  .steps {
    width: 100%;
  }
}
