.row {
  display: block;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  position: relative;
  .label {
    font-weight: bold;
  }
  input {
    float: right;
    margin-top: 2px;
    margin-left: 10px;
    width: 170px;
    &.frequencies {
      width: 125px;
    }
  }
}
.route-panel {
  z-index: 1009;
  position: absolute;
  -webkit-transition: all .7s;
  overflow: hidden;
  width: 301px;
  margin: 0 0 0 -150px;
  top: 150px;
  left: 50%;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  .line {
    width: 1px;
    height: 100%;
    float: left;
    background: rgba(0,0,0,.3);
  }
  .remove {
    position: absolute;
    left: 3px;
    top: 3px;
  }
  &.open {
    width: 601px !important;
    margin-left: -300px !important;
    .step {
      -webkit-border-top-right-radius: 0 !important;
      -moz-border-top-right-radius: 0 !important;
      -ms-border-top-right-radius: 0 !important;
      -o-border-top-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
      -webkit-border-bottom-right-radius: 0 !important;
      -moz-border-bottom-right-radius: 0 !important;
      -ms-border-bottom-right-radius: 0 !important;
      -o-border-bottom-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  .route-info {
    width: 298px;
    float: left;
    overflow-x: hidden;
  }
  .info {
    margin-top: 5px;
    .statistic {
      margin: 0;
      top: 0;
      float: left;
      width: 129px;
      padding-bottom: 5px;
      .value {
        font-size: 42px;
        line-height: 42px;
      }
      .label {
        font-size: 11px;
        line-height: 11px;
      }
    }
    .resize.horizontal {
      color: #000000;
      font-size: 40px;
      line-height: 45px;
      text-align: center;
      width: 40px;
      float: left;
      padding: 0;
      margin: 0;
    }
  }
  .flight-list {
    width: 298px;
    height: auto;
    overflow: hidden;
    z-index: 7;
    position: relative;
    .step {
      padding: 8px 12px !important;
      width: 100%;
      &:first-child {
        -webkit-border-top-left-radius: 0 !important;
        -moz-border-top-left-radius: 0 !important;
        -ms-border-top-left-radius: 0 !important;
        -o-border-top-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
        -webkit-border-top-right-radius: 0 !important;
        -moz-border-top-right-radius: 0 !important;
        -ms-border-top-right-radius: 0 !important;
        -o-border-top-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }
    }
  }
  .flight-info {
    height: 100%;
    width: 300px;
    float: left;
    z-index: 8;
    position: relative;
    background: #ffffff;
    .empty {
      min-height: 112px;
      line-height: 112px;
      text-align: center;
      font-weight: bold;
    }
    .tab > .menu {
      margin: 4px 0 4px 2px;
    }
    .secondary.menu {
      .item {
        padding: 6px 7px 6px 6px !important;
        font-size: 12px;
        margin: 2px;
      }
    }
    .buttons {
      margin: 0 0 6px 6px;
    }
    .segment[data-tab] {
      margin: 0px 6px 6px 6px;
      padding: 10px;
    }
    .row-container {
      margin: 6px;
    }
  }
  .dropdown {
    width: 100%;
  }
  .noclass {
    display: none;
    height: 95px;
    text-align: center;
    line-height: 91px !important;
    font-weight: bold;
  }
}
