<!DOCTYPE html>
<html>
  <head>
    <title>Airsim</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js'></script>
  </head>
  <body>
    <%= yield %>
    <script type="text/x-handlebars-template" id="airport-list-template">
      {{#each airports}}
        <a class="step" id="airportlist{{id}}" data-id="{{id}}" data-iata="{{iata}}" data-city="{{city}}">
          <div class="content">
            <div>{{name}} ({{iata}})</div>
            <div>{{city}}, {{country}}</div>
          </div>
        </a>
      {{/each}}
    </script>
    <script type="text/x-handlebars-template" id="flight-list-template">
      {{#each flights}}
        <a class="step own" id="menuFlight{{id}}" data-flightid="{{id}}" data-routeid="{{route_id}}" data-city="{{city}}">
          <div class="content">
            <div class="title">
              <div>{{origin.iata}}-{{destination.iata}} ({{aircraft.type.fullName}} x {{frequencies}})</div>
              <div class="description">{{load_factor.factor}}% Load Factor ({{{profit}}})</div>
            </div>
          </div>
        </a>
      {{/each}}
    </script>
    <script type="text/x-handlebars-template" id="aircraft-list-template">
      {{#each airports}}
      <a class="step" id="airportlist{{id}}" data-id="{{id}}" data-iata="{{iata}}" data-city="{{city}}">
        <div class="content">
          <div>{{name}} ({{iata}})</div>
          <div>{{city}}, {{country}}</div>
        </div>
      </a>
      {{/each}}
    </script>
    <script type="text/x-handlebars-template" id="airline-list-template">
      {{#each airports}}
      <a class="step" id="airportlist{{id}}" data-id="{{id}}" data-iata="{{iata}}" data-city="{{city}}">
        <div class="content">
          <div>{{name}} ({{iata}})</div>
          <div>{{city}}, {{country}}</div>
        </div>
      </a>
      {{/each}}
    </script>
  </body>
</html>
